### https://www.geeksforgeeks.org/python-programming-language/?ref=lbp

### Quotation in Python

In [3]:
string = 'Hello World'
print(string)

Hello World

In [2]:
string = "Hello World"
string

'Hello World'

In [19]:
string = 'Hello World "Elias"'
string

'Hello World "Elias"'

In [14]:
string = "Hello World 'Elias'"
string

"Hello World 'Elias'"

In [5]:
string = '''Hello World'''
string

'Hello World'

In [4]:
string = "Hello
World"
string

SyntaxError: EOL while scanning string literal (1117298684.py, line 1)

In [6]:
string = "Hello fdjslkafjkldsj fdjklsfjldsajfljdsa fjdklsajfkldsja \
jkfldjsklafjdkls \
World"
string
print(string)

Hello fdjslkafjkldsj fdjklsfjldsajfljdsa fjdklsajfkldsja jkfldjsklafjdkls World

In [24]:
string = '''Hello
World'''
string
print(string)

Hello
World

In [7]:
string = 'Hello \
World'
string
print(string)

Hello World

In [ ]:
print(string)

In [27]:
a = 'Hello'
b = ' World'
print(a) # print(a, end='\n')
print(b)

Hello
 World

In [8]:
a = 'Hello'
b = ' World'
print(a, end='')
# print(a, end='_')
print(b)

Hello World

In [30]:
print(a, b)

Hello  World

In [9]:
string = "'Hello World'"
print(string)
string

'Hello World'

"'Hello World'"

### Comments in Python

In [1]:
# This is comment

In [ ]:

# This
is
'''
multiline
comments
'''

In [ ]:
# This
# is
# multiline
# comments

### Standard Data Types

<img src="https://media.geeksforgeeks.org/wp-content/uploads/20191224133121/Python-data-structure1.jpg" width=500>

### Boolean

In [2]:
a = (10 == 20)
print(type(a))
print(a) # True / False

<class 'bool'>
False

true false True  False

In [3]:
a = ('abc' == 'def')
a

False

In [ ]:
objA == objB # ClassA instance

In [4]:
True + True

2

In [5]:
True * False

0

In [6]:
True * True

1

In [7]:
False * False

0

In [9]:
True/False

ZeroDivisionError: division by zero

### Numbers

#### Integer (정수형)

In [10]:
a = 100
type(a)
# a

int

##### Float (실수형)

In [11]:
a = 100.0
type(a)
# a

float

#### 지수표현

123 * 10<sup>2</sup> = 123 * 100

In [14]:
a = 123e2
a

12300.0

123 * 10<sup>-2</sup> = 123 * 0.01

In [15]:
a = 123e-2
a

1.23

#### 이진법 표현

In [16]:
bin(10)

'0b1010'

In [17]:
bin(10)[2:]

'1010'

#### 부동소수점 오차

> 1보다 작은 수의 경우에는 십진법으로 간단히 표현되는 수도 이진법에서는 무한개의 유효숫자를 가질 수 있다. 예를 들어 0.1이라는 숫자는 십진수로는 간단히 표현되지만 이진수로 나타내면 다음과 같이 0011이 무한히 반복되는 실수가 된다.

> 0.1=0.00011001100110011001100110011001100110011001100110011001100110011⋯

> 그런데 컴퓨터에서는 하나의 숫자를 나타내기 위한 메모리 크기가 제한되어 있어서 특정 소수점 이하는 생략하고 가장 비슷한 숫자로 표현할 수 밖에 없다. 0.1은 실제로는 가장 비슷한 다음과 같은 숫자로 저장된다.

> 0.1≈0.1000000000000000055511151231257827021181583404541015625

In [12]:
0.1 + 0.2 == 0.3

False

In [19]:
0.1

0.1

In [20]:
0.2

0.2

In [21]:
0.3

0.3

In [22]:
0.1 + 0.2

0.30000000000000004

In [13]:
%precision 55

'%.55f'

In [14]:
0.1

0.1000000000000000055511151231257827021181583404541015625

In [15]:
0.2

0.2000000000000000111022302462515654042363166809082031250

In [25]:
0.1 + 0.2

0.3000000000000000444089209850062616169452667236328125000

In [26]:
0.3

0.2999999999999999888977697537484345957636833190917968750

In [27]:
round(0.1 + 0.2, 1) == round(0.3, 1)

True

In [28]:
%precision %r

'%r'

In [29]:
0.1

0.1

#### 형변환

In [30]:
a = 100.0 # float
b = int(a)
print(type(b))
print(b)

<class 'int'>
100

In [31]:
b

100

In [32]:
c = float(b)
type(c)

float

In [33]:
c

100.0

In [34]:
d = 1.12345678901234567890
d

1.1234567890123457

In [35]:
round(d, 2) # 소수점 자리

1.12

### String

In [36]:
a = 'Hello World' # strlen(a) a[strlen(a)-1]
a

'Hello World'

배열의 조건
1. 연속된 데이터
2. 동일한 type

In [37]:
a[-1]

'd'

#### Slicing

In [39]:
a

'Hello World'

In [38]:
a[1]

'e'

In [40]:
a[1:3]

'el'

In [41]:
a[1::2] # for(star:end:step) --> [start:end:step]

'el ol'

In [42]:
a[-1]

'd'

In [43]:
a[::-1]

'dlroW olleH'

In [44]:
a[2:] # step 의 기본값은 1 --> a[2::1]

'llo World'

In [45]:
a[:5] # a[0:5:1]

'Hello'

In [ ]:
a[-1]

In [46]:
a[-5:] # a[-5::1]

'World'

#### Operation

In [47]:
a = 'Hello'
b = 'World'
c = a + b
c

'HelloWorld'

In [48]:
a * b

TypeError: can't multiply sequence by non-int of type 'str'

In [49]:
c * 4

'HelloWorldHelloWorldHelloWorldHelloWorld'

In [50]:
'#' * 100

'####################################################################################################'

In [51]:
'-' * 100

'----------------------------------------------------------------------------------------------------'

In [53]:
c

'HelloWorld'

In [52]:
# 포함여부 확인
if 'Hello' in c:
    print('Yes')
else:
    print('No')

Yes

In [54]:
# 비포함 여부확인
if 'Hello' not in c:
    print('Yes')
else:
    print('No')

No

#### Formatting (%)

In [55]:
char_A = 'A'
name = 'Elias Kim'
age = 22
height = 180.5

print('Charactor: %c' % ord(char_A)) # return ASCII Code
print('String: %s' % name)
print('Integer: %d' % age)

print('Float: %f' % height)
print('Hex: 0x%x 0x%X' % (47, 47))
print('Exponential: %e' % age)

Charactor: A
String: Elias Kim
Integer: 22
Float: 180.500000
Hex: 0x2f 0x2F
Exponential: 2.200000e+01

In [56]:
print('%s:%s:%s' % (name, age, height))
print('%5d' % age)
print('%05d' % age)
print('%0.3f' % age)

Elias Kim:22:180.5
   22
00022
22.000

#### Formatting(.format)

In [57]:
'{}: {}/{}'.format(name, age, height)

'Elias Kim: 22/180.5'

In [58]:
'{2}: {1}/{0}'.format(height, age, name)

'Elias Kim: 22/180.5'

In [59]:
'{_name}: {_age}/{_height}'.format(_name=name, _age=age, _height=height)

'Elias Kim: 22/180.5'

#### Formattting (f-format)

In [60]:
f'{name}: {age}/{height}'

'Elias Kim: 22/180.5'

In [64]:
phone = ''
phone_number = f'{phone}'
phone = '12345'
print(phone_number)

In [65]:
num = 12345.67890
print(f'[{num:20}]')
print(f'[{num:>20}]')
print(f'[{num:<20}]')
print(f'[{num:^20}]')
print(f'[{num:.1f}]')
print(f'[{num:20.1f}]')
print(f'[{num:20,.1f}]')
print(f'[{num:0<20}]')

[          12345.6789]
[          12345.6789]
[12345.6789          ]
[     12345.6789     ]
[12345.7]
[             12345.7]
[            12,345.7]
[12345.67890000000000]

#### Built-in String method

In [17]:
a = 'helloWolrd'
print(type(a))

<class 'str'>

In [67]:
a.capitalize() # 첫문자 대문자

'Hellowolrd'

In [68]:
len(a) # 문자열 길이

10

In [69]:
a.upper() # 대문자로

'HELLOWOLRD'

In [70]:
a.lower() #  소문자로

'hellowolrd'

In [71]:
a.count('l') # 해당문자의 개수 # 010-2516-9182

3

In [72]:
a.find('W') # 해당문자의 위치

5

In [73]:
a.index('W') # 해당문자의 위치

5

In [74]:
a.find('z') # 없으면 -1

-1

In [75]:
a.index('z') # 없으면 예외발생

ValueError: substring not found

In [76]:
num = '12345'
num.isnumeric() # 숫자냐?

True

In [77]:
num.isdigit()  # 숫자냐?

True

In [78]:
num.isdecimal()  # 숫자냐?

True

In [79]:
num = '3²'
num.isdecimal() # isdecimal() 사용

False

In [80]:
num.isdigit()

True

In [81]:
alphabet = 'abcdef'
alphabet.isalpha()  # 문자냐?

True

In [82]:
a = "  "
a.isspace() # 빈공간이 있냐?

True

In [21]:
a = 'abcdef'
# print(type(a))
b = a.encode() # byte array로 변환
b
# print(type(b))

b'abcdef'

In [87]:
a

'abcdef'

In [88]:
c = b.decode() # string(unicode)로 변환
c

'abcdef'

In [23]:
a = '안녕 세계야'

In [24]:
len(a)

6

In [25]:
b = a.encode('utf-8') # 기본값인 utf-8로 변환
b

b'\xec\x95\x88\xeb\x85\x95 \xec\x84\xb8\xea\xb3\x84\xec\x95\xbc'

In [26]:
len(b)

16

In [27]:
c = b.decode()
c

'안녕 세계야'

In [28]:
b = a.encode('cp949') # Codepage 949 한글
b

b'\xbe\xc8\xb3\xe7 \xbc\xbc\xb0\xe8\xbe\xdf'

In [29]:
len(b)

11

In [30]:
c = b.decode()
c

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbe in position 0: invalid start byte

In [99]:
c = b.decode('cp949') # 예외 발생, 기본값이 'UTF-8'로 디코딩
c

'안녕 세계야'

In [32]:
animals = ['dog', 'cat', 'tiger', 'lion']
a = ','.join(animals) # 문자열 엮기
a

'dog,cat,tiger,lion'

In [104]:
b = a.split(',') # ","로 구분하여 리스트 생성
b

['dog', 'cat', 'tiger', 'lion']

In [107]:
phone = ' 010-2222-1111 '
phone.strip() # 앞/뒤 빈공간 잘라내기

'010-2222-1111'

In [33]:
phone = ' 010 - 2222 - 1111 '
phone.strip() # 앞/뒤 빈공간 잘라내기

'010 - 2222 - 1111'

In [108]:
phone = ' 010-2222-1111 '
phone.lstrip() # 왼쪽공백 제거

'010-2222-1111 '

In [114]:
phone = ' 010-2222-1111 '
phone.rstrip() # 오른쪽 공백 제거

' 010-2222-1111'

In [34]:
a = '  011 - 0102 - 92191 '
a = a.replace(' ', '')
a

'011-0102-92191'

In [110]:
phone.replace('010', '011') # 문자열 변환

' 011-2222-1111 '

In [115]:
phone.replace('-', '').strip()

'01022221111'

In [ ]:
temp = phone.replace('-', '')
temp.strip()

### List

In [2]:
list1 = [5,3,1,2,4]
list1

[5, 3, 1, 2, 4]

In [3]:
list_ = []
list_ = list()

list_.append('a')
list_

['a']

In [38]:
list2 = ['a', 'b', 'c', 'd', 'e']
list2

['a', 'b', 'c', 'd', 'e']

In [5]:
list3 = [1, 'a', 2, 'b', 3] # 혼합 리스트
list3

[1, 'a', 2, 'b', 3]

In [6]:
list3[2] # Indexing

2

In [7]:
list3[1:4] # Slicing

['a', 2, 'b']

In [9]:
list3[0] = 9
list3

[9, 'a', 2, 'b', 3]

In [37]:
list1

NameError: name 'list1' is not defined

In [10]:
list3 = []
list3 += list1
list3

[5, 3, 1, 2, 4]

In [13]:
list2

['a', 'b', 'c', 'd', 'e']

In [12]:
list4 = list1 + list2 # 리스트 합치기
list4

[5, 3, 1, 2, 4, 'a', 'b', 'c', 'd', 'e']

In [40]:
index = 0 
for elem in list2:
    print(elem)
    print(index)
    index +=1 
    print()

a
0

b
1

c
2

d
3

e
4

In [15]:
for index, elem in enumerate(list2):
    print(index)
    print(elem)
    print('--------')

0
5
--------
1
3
--------
2
1
--------
3
2
--------
4
4
--------
5
a
--------
6
b
--------
7
c
--------
8
d
--------
9
e
--------

In [17]:
for data in enumerate(list4):
    print(data)
    print(data[0])
    print(data[1])

(0, 5)
0
5
(1, 3)
1
3
(2, 1)
2
1
(3, 2)
3
2
(4, 4)
4
4
(5, 'a')
5
a
(6, 'b')
6
b
(7, 'c')
7
c
(8, 'd')
8
d
(9, 'e')
9
e

In [18]:
list2

['a', 'b', 'c', 'd', 'e']

In [20]:
list5 = list2
list5

['a', 'b', 'c', 'd', 'e']

In [19]:
list5 = list2.copy() # append
list5.append('f')
list5

['a', 'b', 'c', 'd', 'e', 'f']

In [21]:
list5 = list2.copy() # extend
list5.extend('f')
list5

['a', 'b', 'c', 'd', 'e', 'f']

In [22]:
list5 = list2.copy() # extend와 append의 차이
list5.append(list1)
list5

['a', 'b', 'c', 'd', 'e', [5, 3, 1, 2, 4]]

In [23]:
len(list5)

6

In [24]:
list5 = list2.copy()
list5.extend(list1)
list5

['a', 'b', 'c', 'd', 'e', 5, 3, 1, 2, 4]

In [25]:
len(list5)

10

In [26]:
len(list4) # list 길이

10

In [27]:
list1 * 3

[5, 3, 1, 2, 4, 5, 3, 1, 2, 4, 5, 3, 1, 2, 4]

In [28]:
list1 * list2

TypeError: can't multiply sequence by non-int of type 'list'

In [31]:
list2 = ['a', 'b', 'c', 'c', 'd', 'c']

In [32]:
list5 = list2.copy()
ret = list5.remove('c')  # remove
print(ret)
list5

None

['a', 'b', 'c', 'd', 'c']

In [33]:
list5 = list2.copy()
ret = list5.pop(2) # pop
print(ret)
list5

c

['a', 'b', 'c', 'd', 'c']

In [34]:
list1

[5, 3, 1, 2, 4]

In [38]:
list5 = list1.copy()
ret = list5.sort(reverse=True)
# ret = list5.sort(reverse=False) # 기본값
print(ret)
list5

None

[5, 4, 3, 2, 1]

In [39]:
list5 = list1.copy()
ret = sorted(list5, reverse=False)
print('result:', ret)
print('origin:', list5)

result: [1, 2, 3, 4, 5]
origin: [5, 3, 1, 2, 4]

In [40]:
list5 = list1.copy()
ret = list5.reverse()
print(ret)
list5

None

[4, 2, 1, 3, 5]

In [41]:
list5 = list1.copy()
ret = reversed(list5)
print(ret)
print(list(ret))
list5

<list_reverseiterator object at 0x000001B3CCF49A00>
[4, 2, 1, 3, 5]

[5, 3, 1, 2, 4]

In [42]:
list5.clear() # list5 = []
list5 = []
list5

[]

In [43]:
list6 = [1,3,2,5,7,4,3,8,9,4,2]
print(sorted(list6))
print(sorted(set(list6)))

[1, 2, 2, 3, 3, 4, 4, 5, 7, 8, 9]
[1, 2, 3, 4, 5, 7, 8, 9]

In [44]:
pats = ['dog', 'cat', 'bird', 'fish']

for index, pat in enumerate(pats): # Unpacking (index, pat)
    
    print(f'Index:{index} Pat:{pat}')

Index:0 Pat:dog
Index:1 Pat:cat
Index:2 Pat:bird
Index:3 Pat:fish

In [45]:
index = 0
for pat in pats:
    print(pat, index)
    index += 1

dog 0
cat 1
bird 2
fish 3

In [51]:
pats = ['dog', 'cat', 'bird', 'fish']
owner = ['Andy', 'Elias', 'Jordan', 'Tony']

print(zip(pats, owner))

<zip object at 0x000001B3CDAADF40>

In [52]:
pats = ['dog', 'cat', 'bird', 'fish']
owner = ['Andy', 'Elias', 'Jordan', 'Tony']

print(tuple(zip(pats, owner)))
print(list(zip(pats, owner)))
print(dict(zip(pats, owner)))

for pat, owner in zip(pats, owner): #  unpacking (pat, owner)
    print(f'Pat: {pat}, Owner: {owner}')

(('dog', 'Andy'), ('cat', 'Elias'), ('bird', 'Jordan'), ('fish', 'Tony'))
[('dog', 'Andy'), ('cat', 'Elias'), ('bird', 'Jordan'), ('fish', 'Tony')]
{'dog': 'Andy', 'cat': 'Elias', 'bird': 'Jordan', 'fish': 'Tony'}
Pat: dog, Owner: Andy
Pat: cat, Owner: Elias
Pat: bird, Owner: Jordan
Pat: fish, Owner: Tony

### Tuple

In [53]:
tuple1 = (5,3,1,2,4)
tuple1

(5, 3, 1, 2, 4)

In [54]:
tuple1[1] = 7

TypeError: 'tuple' object does not support item assignment

In [55]:
tuple2 = ('a', 'b', 'c', 'd', 'e')
tuple3 = tuple1 + tuple2
tuple3

(5, 3, 1, 2, 4, 'a', 'b', 'c', 'd', 'e')

In [56]:
len(tuple3)

10

### Dictionary

In [ ]:
# Creating an empty Dictionary  
Dict = {}
Dict = dict()
print(Dict)  
 
# with Integer Keys  
Dict = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(Dict)  
 
# with Mixed keys  
Dict = {'Name': 'Geeks', 1: [1, 2, 3, 4]}
print(Dict)

<img src="https://media.geeksforgeeks.org/wp-content/uploads/20191224155528/Dictionary-Creation-11.jpg" width=500>

In [57]:
dic = {}
dic = dict()

dic['name'] = 'Elias Kim'
dic

{'name': 'Elias Kim'}

In [58]:
dic = {'name':'Elias Kim', 'age':22, 'location':'Seoul'} # 초기화
dic

{'name': 'Elias Kim', 'age': 22, 'location': 'Seoul'}

In [59]:
dic['name'] # 데이터 접근

'Elias Kim'

In [60]:
dic['age'] = 20 # 업데이트
dic

{'name': 'Elias Kim', 'age': 20, 'location': 'Seoul'}

In [61]:
dic['company'] = 'LG Electronics' # 추가
dic

{'name': 'Elias Kim',
 'age': 20,
 'location': 'Seoul',
 'company': 'LG Electronics'}

In [62]:
del dic['company'] # 삭제
dic

{'name': 'Elias Kim', 'age': 20, 'location': 'Seoul'}

In [63]:
len(dic) # 길이

3

In [64]:
dic2 = dic.copy()
dic2.clear()          # 모두삭제
dic2 = {}
dic2

{}

In [65]:
for value in dic.values(): # value 가져오기
    print(value)

Elias Kim
20
Seoul

In [66]:
for key in dic.keys(): # key 가져오기
    print(key)

name
age
location

In [68]:
for elem in dic: # key 가져오기
    print(elem)
    print(dic[elem])
    print('-' * 10)

name
Elias Kim
----------
age
20
----------
location
Seoul
----------

In [69]:
for item in dic.items(): # item 가져오기
    print(item)

('name', 'Elias Kim')
('age', 20)
('location', 'Seoul')

In [70]:
for key, value in dic.items(): # unpacking
    print(f'{key}:{value}')

name:Elias Kim
age:20
location:Seoul

In [71]:
print(dic['company']) # 없는 키값을 접근하면 예외발생

KeyError: 'company'

In [72]:
if 'company' in dic:
    print(dic['company'])
else:
    print('"company" key is not exist')

"company" key is not exist

In [73]:
# python 3.6 이전에는 삽입순서대로 들어가지 않음 -> 하위호환겅 고려
normal_dict = {}
normal_dict['a'] = 1
normal_dict['b'] = 2
normal_dict['c'] = 3

for k, v in normal_dict.items():
    print(f'{k}:{v}')

from collections import OrderedDict

order_dict = OrderedDict()
order_dict['a'] = 1
order_dict['b'] = 2
order_dict['c'] = 3

for k, v in order_dict.items():
    print(f'{k}:{v}')
    
# Dict과 Orderdict간엔 순서무시
normal_dict = {'a':1, 'c':3, 'b':2}
order_dict = {'a':1, 'b':2, 'c':3}
print('same' if normal_dict == order_dict else 'not same')

# OrderedDict간에는 순서중요
order_dict = OrderedDict({'a':1, 'b':2, 'c':3})
order_dict2 = OrderedDict({'a':1, 'c':3, 'b':2})
print('same' if order_dict == order_dict2 else 'not same')

a:1
b:2
c:3
a:1
b:2
c:3
same
not same

## Mutable vs Immutable
> https://ledgku.tistory.com/54

### Immutable

In [74]:
def change(x):
    x = 20

In [75]:
a = 10
change(a)
a

10

In [48]:
def change2(x):
    x = 'World'

In [47]:
a = 'Hello'
change2(a)
a

NameError: name 'change2' is not defined

In [78]:
def change4(x):
    x = (1,2,3)

In [79]:
a = (1,2)
change4(a)
a

(1, 2)

### Mutable

In [49]:
def change3(x):
    x.append(4)

In [50]:
a = [1,2,3]
change3(a)
a

[1, 2, 3, 4]

In [82]:
def change4(x):
    x['age'] = 20

In [83]:
a = {'name':'Elias Kim'}
change4(a)
a

{'name': 'Elias Kim', 'age': 20}

### if elif else

In [ ]:
if 조건1:
    조건1이 참일 때 실행되는 명령
elif 조건2:
    조건1이 거짓이고 조건2가 참일 때 실행되는 명령
elif 조건3:
    조건1과 조건2가 거짓이고 조건3가 참일 때 실행되는 명령

...(생략)...


else:
    지금까지의 어떤 조건도 참이 아니면 실행되는 명령

### Global Variable

In [51]:
g_num = 10

In [52]:
def fun():
    print(g_num)

In [53]:
fun()

10

In [54]:
def fun2():
    g_num = 5
    print(g_num)

In [55]:
fun2()

5

In [56]:
g_num

10

In [90]:
def fun3():
    global g_num
    g_num = 5
    print(g_num)

In [91]:
fun3()

5

In [92]:
g_num

5

### Looping

#### While Loop

<img src="https://media.geeksforgeeks.org/wp-content/uploads/20191226130537/while-loop1.jpg" width="500">

In [93]:
# Python program to illustrate  
# while and while-else loop
i = 0
while (i < 3):      
    i = i + 1
    print("Hello Geek")  
   
# checks if list still 
# contains any element  
a = [1, 2, 3, 4] 
while a: 
    print(a.pop()) 
    # 반대는?
   
i = 10
while i < 12:  
    i += 1
    print(i)  
    break
else: # Not executed as there is a break  
    print("No Break")

Hello Geek
Hello Geek
Hello Geek
4
3
2
1
11

#### For Loop

<img src="https://media.geeksforgeeks.org/wp-content/uploads/20191226130622/for-loop-python1.jpg" width=500>

In [94]:
# Python program to illustrate  
# Iterating over a list  
print("List Iteration")  
l = ["geeks", "for", "geeks"]  
for i in l:  
    print(i) 
     
# Iterating over a String  
print("\nString Iteration")      
s = "Geeks"
for i in s :  
    print(i)  
     
print("\nFor-else loop")
for i in s:  
    print(i)  
else: # Executed because no break in for  
    print("No Break\n")  
   
for i in s:  
    print(i)  
    break
else: # Not executed as there is a break  
    print("No Break")

List Iteration
geeks
for
geeks

String Iteration
G
e
e
k
s

For-else loop
G
e
e
k
s
No Break

G

#### range function()

<img src="https://media.geeksforgeeks.org/wp-content/uploads/20191224171636/PythonRange0102-11.png" width=500>

In [95]:
# Python program to demonstrate
# range() function

# for(int i=0; i<10; i++)
 
for i in range(10): 
    print(i, end =" ") 
print()
 
for i in range(2, 9): 
    print(i, end =" ") 
print()
 
# incremented by 3 
for i in range(15, 25, 3): 
    print(i, end =" ")

0 1 2 3 4 5 6 7 8 9
2 3 4 5 6 7 8
15 18 21 24

#### Control Loop statement

In [97]:
# Python program to demonstrate
# break, continue and pass 
   
s = 'geeksforgeeks'
 
for letter in s: 
    if letter == 'e' or letter == 's': 
        break
    print(letter, end = " ")
print()
 
for letter in s: 
    if letter == 'e' or letter == 's': 
        continue
    print(letter, end = " ")
print()    
 
for letter in s: 
    if letter == 'e' or letter == 's': 
        pass
    print(letter, end = " ")
    
def funcA():
    # todo: make list
    pass

IndentationError: expected an indented block (3888183496.py, line 25)

### Function

In [98]:
def func_add(a, b):
    c = a+b
    return c

In [99]:
func_add(10, 20)

30

In [102]:
def person_info(name, age=22):
    print('Name:', name)
    print('Age:', age)
    
def person_info(name, age=22, address): # Error!!!
# def person_info(name, address, age=22): # Ok!!!
    print('Name:', name)
    print('Age:', age)
    print('Address:', address)

SyntaxError: non-default argument follows default argument (2825219645.py, line 5)

In [103]:
person_info('Elias Kim', 20)

Name: Elias Kim
Age: 20

In [107]:
person_info(age=22, name='Elias Kim')

Name: Elias Kim
Age: 22

In [108]:
person_info('Elias Kim')

Name: Elias Kim
Age: 22

In [109]:
def multi_return(a, b):
    return (a+b, a-b, a*b, a/b)  # packing

In [110]:
ret = multi_return(10, 2)
ret

(12, 8, 20, 5.0)

In [116]:
sum_, minus, multi, devide = multi_return(10, 2)
# sum_, minus, multi = multi_return(10, 2) # Error
# data = multi_return(10, 2)
# print(len(data))
print(sum_)
print(minus)
print(multi)
print(devide)

12
8
20
5.0

In [112]:
sum_, _, multi, _ = multi_return(10, 2)
print(sum_)
print(multi)

12
20

#### Lambda 람다 함수

In [117]:
def add(a, b):
    return a+b

add(1,2)

3

In [119]:
add = lambda x, y: x + y
add(1,2)

3

In [120]:
def fun(x):
    if x < 3:
        return x * 2
    else:
        return x * 0

a = [1,2,3,4,5]
list(map(fun, a))

[2, 4, 0, 0, 0]

In [ ]:
a = [1,2,3,4,5]
list(map(lambda x: x*2 if x < 3 else x*0, a))

In [121]:
def fun2(x):
    return x['name']

In [ ]:
a = [1,2,3,4,5]

In [122]:
dic_list = [{'name': 'kim', 'age': 20}, {'name': 'park', 'age':24}, {'name':'lee', 'age':21}]
sorted(dic_list, key=fun2, reverse=False)

[{'name': 'kim', 'age': 20},
 {'name': 'lee', 'age': 21},
 {'name': 'park', 'age': 24}]

In [123]:
dic_list = [{'name': 'kim', 'age': 20}, {'name': 'park', 'age':24}, {'name':'lee', 'age':21}]
sorted(dic_list, key=lambda item: item['name'], reverse=False)

[{'name': 'kim', 'age': 20},
 {'name': 'lee', 'age': 21},
 {'name': 'park', 'age': 24}]

In [124]:
a = [{'name':'Elias'}, {'name':'Kim'}]
list(map(lambda x: x['name'], a))

['Elias', 'Kim']

#### 다항인자

In [126]:
a = 10
b = 20
c = 30
print(a,b,c)
print(a)

10 20 30
10

In [127]:
# *arg = tuple
def multi_argument(*args):
    print('length:', len(args))
    print(type(args))
    
    total = 0
    for arg in args:
        print(arg)
        total += arg
    
    print(total)
        
multi_argument(1,2,3,4,5)

length: 5
<class 'tuple'>
1
2
3
4
5
15

In [ ]:
fun(name='hi', age=20)

In [62]:
def multi_argument2(**args):
    print('length:', len(args))
    print(type(args))
    
    print(args)
    
    for arg in args.items():
        print(arg)

multi_argument2(name='Elias Kim', age=24)

length: 2
<class 'dict'>
{'name': 'Elias Kim', 'age': 24}
('name', 'Elias Kim')
('age', 24)

In [65]:
def multi_argument3(arg, *arg_list, **arg_dict):
    print(f'arg: {arg}')
    print('-' * 20)
    for _arg in arg_list:
        print(f'arg_list: {_arg}')
    print('-' * 20)
    for _arg in arg_dict.items():
        print(f'arg_dict: {_arg}')

multi_argument3('single', 'a', 'b', 1, 2, name='Elias', age=24)

arg: single
--------------------
arg_list: a
arg_list: b
arg_list: 1
arg_list: 2
--------------------
arg_dict: ('name', 'Elias')
arg_dict: ('age', 24)

#### Yeild

In [130]:
def return_abc():
    return list("ABC") # ["A", "B", "C"]

def yield_abc():
    yield "A"
    yield "B"
    yield "C"

In [131]:
data = return_abc()
data

['A', 'B', 'C']

In [132]:
for i in data:
    print(i)

A
B
C

In [133]:
for i in data:
    print(i)

A
B
C

In [134]:
data2 = yield_abc()
data2

In [135]:
for i in data2:
    print(i)

A
B
C

In [136]:
for i in data2:
    print(i)

In [137]:
import time

In [138]:
def delay_return_abc():
    result = []
    for i in range(5):
        time.sleep(1)
        result.append(i)
    return result

def delay_yield_abc():
    for i in range(5):
        time.sleep(1)
        yield i

In [139]:
for i in delay_return_abc():
    print(i)

0
1
2
3
4

In [140]:
for i in delay_yield_abc():
    print(i)

0
1
2
3
4

In [ ]:
# 메모리풀 발생
def infinite_return():
    result = []
    while True:
#         time.sleep(1)
        result.append("HelloWorld")

In [ ]:
# 메모리풀 발생하지 않음
def infinite_yield():
    while True:
        time.sleep(1)
        yield "HelloWorld"

In [ ]:
infinite_return()

In [ ]:
for i in infinite_yield():
    print(i)

#### generator vs list

In [143]:
dic_list = [{'name': 'kim', 'age': 20}, {'name': 'park', 'age':24}, {'name':'lee', 'age':21}]
_list = [item['name'] for item in dic_list]
type(_list)

list

In [144]:
for name in _list:
    print(name)

kim
park
lee

In [145]:
for name in _list:
    print(name)

kim
park
lee

In [146]:
dic_list = [{'name': 'kim', 'age': 20}, {'name': 'park', 'age':24}, {'name':'lee', 'age':21}]
gen = (item['name'] for item in dic_list)
type(gen)

generator

In [147]:
for name in gen:
    print(name)

kim
park
lee

In [148]:
for name in gen:
    print(name)

### map : 메소드와 데이터 연결

In [150]:
dic_list = [
    {'name': 'kim', 'age': 15, 'gender':'male'}, 
    {'name': 'park', 'age':19, 'gender':'female'}, 
    {'name':'lee', 'age':21, 'gender':'male'}]

def gender(person):
    return f"{person['name']} is {person['gender']} and {person['age']} years old."

In [151]:
map(gender, dic_list)

In [152]:
for person in map(gender, dic_list):
    print(person)

kim is male and 15 years old.
park is female and 19 years old.
lee is male and 21 years old.

In [153]:
person_list = list(map(gender, dic_list))
person_list

['kim is male and 15 years old.',
 'park is female and 19 years old.',
 'lee is male and 21 years old.']

#### map with lambda method

In [154]:
person_list = list(
    map(
        lambda person: f"{person['name']} is {person['gender']} and {person['age']} years old.", 
        dic_list))
person_list

['kim is male and 15 years old.',
 'park is female and 19 years old.',
 'lee is male and 21 years old.']

In [155]:
list(
    map(
        lambda x: 
        f"{x['name']} is adult." if x['age'] > 20 
        else f"{x['name']} is not adult.", 
    dic_list))

['kim is not adult.', 'park is not adult.', 'lee is adult.']

#### 그러면 여자들만 뽑으려면?

In [156]:
def only_female(person):
    if person['gender'] == 'female':
        return f"{person['name']} is {person['gender']} and {person['age']} years old."
    else:
        return None

In [157]:
# 여자가 아닌 데이터도 None으로 넘어옴
person_list = list(map(only_female, dic_list))
person_list

[None, 'park is female and 19 years old.', None]

In [158]:
# 여자인 데이터만 넘어옴
person_list = list(filter(only_female, dic_list))
person_list

[{'name': 'park', 'age': 19, 'gender': 'female'}]

In [159]:
# lambda 사용 (True인 데이터만 넘어옴)
female_list = list(
    filter(
        lambda person: person['gender'] == 'female', 
        dic_list))
female_list

[{'name': 'park', 'age': 19, 'gender': 'female'}]

In [160]:
a = [100, 2, 8, 60, 5, 4, 3, 31, 10, 11]
 
# 람다함수와 filter를 쓰게되면 람다식내의 True인 데이터만 list로 생성
filtered = filter (lambda x: x % 2 == 0, a)
print(list(filtered))
 
# 람다함수와 map을 쓰게되면 lambda의 결과값을 list로 생성
mapped = map (lambda x: x % 2 == 0, a)
print(list(mapped))

[100, 2, 8, 60, 4, 10]
[True, True, True, True, False, True, False, False, True, False]

### Deque in collections

In [161]:
from collections import deque
     
# Declaring deque
queue = deque(['name','age','DOB']) 
queue

deque(['name', 'age', 'DOB'])

In [162]:
queue.append('height')
queue

deque(['name', 'age', 'DOB', 'height'])

In [163]:
queue.appendleft('id')
queue

deque(['id', 'name', 'age', 'DOB', 'height'])

In [164]:
queue.pop()
queue

deque(['id', 'name', 'age', 'DOB'])

In [165]:
queue.popleft()
queue

deque(['name', 'age', 'DOB'])

### Comprehension

In [166]:
# Normal List
person_list = list(
    map(
        lambda person: f"{person['name']} is {person['gender']} and {person['age']} years old.", 
        dic_list))
person_list

['kim is male and 15 years old.',
 'park is female and 19 years old.',
 'lee is male and 21 years old.']

In [169]:
person_list = []
for person in dic_list:
    person_list.append(f"{person['name']} is {person['gender']} and {person['age']} years old.")
person_list

['kim is male and 15 years old.',
 'park is female and 19 years old.',
 'lee is male and 21 years old.']

In [167]:
# Comprehension
person_list = [f"{person['name']} is {person['gender']} and {person['age']} years old." for person in dic_list]
person_list

['kim is male and 15 years old.',
 'park is female and 19 years old.',
 'lee is male and 21 years old.']

In [170]:
phone_list = [' 010-333-1131 ', '010,222,1111', '010 3213 1311']

new_list = []
for phone in phone_list:
    phone = phone.strip().replace('-', '').replace(',', '').replace(' ', '')
    new_list.append(phone)

clear_phone_number = [phone.strip().replace('-', '').replace(',', '').replace(' ', '') for phone in phone_list]
clear_phone_number

['0103331131', '0102221111', '01032131311']

In [171]:
person_list = (f"{person['name']} is {person['gender']} and {person['age']} years old." for person in dic_list)
for person in person_list:
    print(person)

kim is male and 15 years old.
park is female and 19 years old.
lee is male and 21 years old.

In [172]:
# Normal List with Lambda condition
list(
    map(
        lambda x: 
        f"{x['name']} is adult." if x['age'] > 20 
        else f"{x['name']} is not adult.", 
    dic_list))

['kim is not adult.', 'park is not adult.', 'lee is adult.']

In [173]:
# Comprehension with Labmda condition
person_list = [f"{person['name']} is {person['gender']} and {person['age']} years old." for person in dic_list if person['age'] > 20]
person_list

['lee is male and 21 years old.']

#### List Comprehension

In [174]:
# 20까지의 짝수를 출력하기 위해 다음과 같은 LC를 사용할 수 있다
evens = [x * 2 for x in range(11)]
evens

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [175]:
# 리스트의 모든 원소값을 정규화 시킨 후 상수값을 더하는 LC
vals = [32, 12, 96, 42, 32, 93, 31, 23, 65, 43, 76]
amount = sum(vals)
norm_and_move = [(x / amount) + 1 for x in vals]
norm_and_move

[1.0587155963302752,
 1.0220183486238532,
 1.1761467889908257,
 1.0770642201834861,
 1.0587155963302752,
 1.1706422018348623,
 1.0568807339449542,
 1.0422018348623854,
 1.1192660550458715,
 1.0788990825688074,
 1.1394495412844037]

In [176]:
# 100 이하의 제곱수가 아닌 수를 찾는 LC
from math import sqrt
non_squars = [x for x in range(50) if sqrt(x)**2 != x]
print(non_squars)

[2, 3, 5, 6, 7, 8, 10, 12, 13, 15, 18, 19, 20, 23, 24, 26, 28, 29, 31, 32, 37, 38, 40, 43, 45, 48]

In [177]:
# 두 리스트의 원소들의 모든 조합을 찾는 LC
epithets = ['sweet', 'annoying', 'cool', 'grey-eyed']
names = ['john', 'alice', 'james']
epithet_names = [
    (e, n) 
    for e in epithets 
    for n in names]
epithet_names

[('sweet', 'john'),
 ('sweet', 'alice'),
 ('sweet', 'james'),
 ('annoying', 'john'),
 ('annoying', 'alice'),
 ('annoying', 'james'),
 ('cool', 'john'),
 ('cool', 'alice'),
 ('cool', 'james'),
 ('grey-eyed', 'john'),
 ('grey-eyed', 'alice'),
 ('grey-eyed', 'james')]

In [178]:
# a^2 + b^2 = c^2 (a < b < c)를 만족하는 피타고라스 방정식의 해를 찾는 LC
solutions = [
    (x, y, z) 
    for x in range(1, 30)
    for y in range(x, 30) 
    for z in range(y, 30) 
    if x**2 + y**2 == z**2]
solutions

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]

In [179]:
# 단어에서 모음을 제거하는 LC
word = 'mathematics'
without_vowels = ''.join([
    c 
    for c in word 
    if c not in ['a', 'e', 'i', 'o', 'u']])
without_vowels

'mthmtcs'

In [180]:
# 행렬을 일차원화 시키는 LC
matrix = [
  [1, 2, 3, 4],
  [5, 6, 7, 8],
  [9, 10, 11, 12],
]
flatten = [e 
           for r in matrix # r = [1,2,3,4] , [5,6,7,8]
           for e in r] # e = 1, 2, 3, 4
flatten

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
!pip install numpy

In [ ]:
import numpy as np

In [ ]:
np_matrix = np.array(matrix)
np_matrix

In [ ]:
np.ravel(np_matrix).tolist()

#### Set Comprehension

In [181]:
# 다음의 LC는 중복된 값들을 포함한다
no_primes = [j 
             for i in range(2, 9) 
             for j in range(i * 2, 15, i)]
no_primes

[4, 6, 8, 10, 12, 14, 6, 9, 12, 8, 12, 10, 12, 14]

In [182]:
# SC를 사용하면 중복값이 없는 집합을 얻을 수 있다
no_primes = {j 
             for i in range(2, 9) 
             for j in range(i * 2, 15, i)}
no_primes

{4, 6, 8, 9, 10, 12, 14}

#### Dictionary Comprehension

In [183]:
# 두 리스트를 하나의 dict로 합치는 DC. 하나는 key, 또 다른 하나는 value로 사용한다
subjects = ['math', 'history', 'english', 'computer engineering']
scores = [90, 80, 95, 100]
score_dict = {
    key: value 
    for key, value in zip(subjects, scores)}
score_dict

{'math': 90, 'history': 80, 'english': 95, 'computer engineering': 100}

In [184]:
dict(zip(subjects, scores))

{'math': 90, 'history': 80, 'english': 95, 'computer engineering': 100}

In [185]:
# 튜플 리스트를 dict 형태로 변환하는 DC
score_tuples = [('math', 90), ('history', 80), ('english', 95), ('computer engineering', 100)]
score_dict = {t[0]: t[1] for t in score_tuples}
score_dict

{'math': 90, 'history': 80, 'english': 95, 'computer engineering': 100}

In [186]:
dict(score_tuples)

{'math': 90, 'history': 80, 'english': 95, 'computer engineering': 100}

#### Generator Expression

In [187]:
# 다음 Generator는 제곱수를 만들어낸다
gen = (x**2 for x in range(3))
gen

In [188]:
next(gen)

0

In [189]:
next(gen)

1

In [190]:
next(gen)

4

In [191]:
next(gen)

StopIteration:

In [192]:
# Yes, it is an just generator. You can sum the yielding values.
# GE로 생성한 Generator도 yield를 가진 함수로 생성한 것과 동일한 Generator이기 때문에, 똑같이 sum을 사용할 수 있다. (iterable 객체)
gen = (x**2 for x in range(10))
sum_of_squares = sum(gen)
sum_of_squares

285

### Class

In [193]:
class Calc:
    def add(self, a, b):
        return a + b
    
    def minus(self, a, b):
        return a - b
    
    def multi(self, a, b):
        return a * b
    
    def devide(self, a, b):
        return a / b

In [194]:
myCal = Calc()

print(myCal.add(4, 2))
print(myCal.minus(4, 2))
print(myCal.multi(4, 2))
print(myCal.devide(4, 2))

6
2
8
2.0

#### 생성자 : 클래스의 객체가 생성되는 순간 호출되는 메소드

In [195]:
class Person:
    name = 'a'
    age = 1
    address = 'b'
    
    # 멤버변수의 초기화
    def __init__(self, name='', age=0, address=''):
        self.name = name
        self.age = age
        self.address = address
        
    def set_info(self, name, age, address):
        self.name = name
        self.age = age
        self.address = address
        
    def info(self):
        print(f'Name:{self.name}, Age:{self.age}, Address:{self.address}')

In [196]:
person_a = Person('Kim', 20, 'Seoul')
person_a.info()

Name:Kim, Age:20, Address:Seoul

In [197]:
person_b = Person()
person_b.info()
person_b.set_info('Park', 20, 'Pusan')
person_b.info()

Name:, Age:0, Address:
Name:Park, Age:20, Address:Pusan

#### 상속 (생성자&소멸자)

In [198]:
class Animal:
    name = ''
    gender = ''
    
    def __init__(self, name, gender):
        self.name = name
        self.gender = gender
        
    def say(self):
        print('Ah~')
        
    def info(self):
        print(f'Name: {self.name}, Gender: {self.gender}')
        
class Dog(Animal):
    fur_color = ''
    
    def __init__(self, name, gender, fur_color):
        super().__init__(name, gender)
        # Animal.__init__(self, name, gender)
        self.fur_color = fur_color
        
    def info(self):
        super().info()
#         Animal.info(self)
        print(f'Fur Color: {self.fur_color}')
    
    def say(self):
        print('MungMung~')
        
    def __del__(self):
        print("I'm gone")
        
class Cat(Animal):    
    eye_color = ''
    
    def __init__(self, name, gender, eye_color):
        self.name = name
        self.gender = gender
        self.eye_color = eye_color
    
    def info(self):
        print(f'Name: {self.name}, Gender: {self.gender}, EyeColor: {self.eye_color}')
    
    def say(self):
        print('Yaong~')

In [199]:
animal = Animal('Dongmul', 'Male')
animal.info()
animal.say()

Name: Dongmul, Gender: Male
Ah~

In [200]:
dog = Dog('Baduk', 'Male', 'Black')
dog.info()
dog.say()

Name: Baduk, Gender: Male
Fur Color: Black
MungMung~

In [201]:
cat = Cat('Nabi', 'Female', 'Brown')
cat.info()
cat.say()

Name: Nabi, Gender: Female, EyeColor: Brown
Yaong~

In [202]:
del dog

I'm gone

#### 클래스 변수, 메소드 / 정적 메소드

In [203]:
class color:
    BLACK = 0
    RED = 1

In [204]:
color.RED

1

In [232]:
class Math:
    class_pi = 3.14
    
    def __init__(self):
        self.pi = 3.14
        
    @classmethod
    def class_add(self, a, b):
#         print(self.pi)
#         self.add
        return a+b
    
    @staticmethod
    def static_add(a, b):
#         print(self.pi)
#         self.add
        return a+b
        
    def add(self, a, b):
        return a+b

In [218]:
Math.class_pi

3.14

In [221]:
Math.class_add(1,2)

3

In [222]:
Math.static_add(1,2)

3

In [223]:
Math.pi

AttributeError: type object 'Math' has no attribute 'pi'

In [224]:
Math.add(1, 2)

TypeError: add() missing 1 required positional argument: 'b'

In [225]:
math = Math()
print(math.pi)
print(math.add(1,2))

3.14
3

In [226]:
print(math.class_add(1,2))
print(math.static_add(1,2))

3
3

In [227]:
Math.static_pi = 10
Math.static_pi

10

In [229]:
Math.class_add(1,2)

3

In [235]:
Math.class_add = lambda x, y: x/y
Math.class_add(4, 2)

2.0

In [236]:
Math.static_add = lambda x, y: x*y
Math.static_add(4, 2)

8